body, html{
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
  font-size: 8px;
}

nav ul{
  background-color:  #333;
  list-style: none;
  padding: 0px 10px 0px 30px;
  height: 25px
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding-right: 40px

  }

  nav div :first-child {
    background-color: #333;
  }

  nav div:first-child h1{
    margin: 0;
    padding-right: 100%
  }

  nav ul {
   margin: 0;
    }

  @media only screen and (min-width: 20em){
      nav{
        display: flex;
        justify-content: center;
        flex-shrink: 2
      }
   nav ul {
     display: flex;
     align-items:center;
     flex-shrink: 3;
   }

    }
/*

  padding-left: 50px;
  text-align: center;
  color: white;
  flex:1;
  flex-wrap: nowrap;

}
apper {
  padding: none;
}


/*nav li {
  padding-right: 10px;
  display: inline-block;
  text-align: centre;
  padding-top: 4px;
  flex-wrap: nowrap;
}
